{% extends 'base.html' %}

{% block left_content %}
    <!-- 模型选择下拉框 -->
    <div class="form-group">
        <label for="model-select">选择LLM模型</label>
        <select class="form-control" id="model-select">
            {% for model in models %}
                <option>{{ model }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- 方法选择下拉框 -->
    <div class="form-group">
        <label for="method-select">选择使用模式</label>
        <select class="form-control" id="method-select">
            {% for function in functions %}
                <option>{{ function }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">

    </div>
{% endblock %}
{% block right_content %}
    <div class="form-group" id="append">
        <p>
            {% if message %}
                【question】: {{ question }}
                <br>
                【answer】: {{ message }}
            {% endif %}
        </p>
    </div>
    <form action="{% url 'index' %}" method="post" autocomplete="off">
        <div class="input-group mb-3">
            <input name="question" type="text" class="form-control" placeholder="question"
                   aria-label="Recipient's username"
                   aria-describedby="button-addon2" maxlength="1000">
            <div class="input-group-append">
                <input class="btn btn-outline-success active" type="submit" id="button-addon2"></input>
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}